# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Secrets
appsettings.Development.json
appsettings.Local.json

# VS Code
.vscode/

# Visual Studio cache
.vs/

# Others
*.tmp